@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;800&family=Ubuntu:wght@500&display=swap");

html {
  background-color: #1c1c1c;
}
* {
  box-sizing: border-box;
  
}

body {
  padding: 0 5%;
  
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  padding: 25px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
}

nav div a {
  font-family: "Mulish";
  font-weight: 800;
  font-size: 1.6rem;
}

nav ul a {
  font-family: Ubuntu;
  font-size: 1.1rem;
}

#sections-links {
  display: flex;
  gap: 20px;
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

#title {
  font-family: Mulish;
  font-weight: 500;
  font-size: 1.5rem;
}

#hero-section p {
  max-width: 50%;
  text-align: center;
  font-family: Mulish;
  font-weight: 400;
}

#colors {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.section-title {
  font-family: Ubuntu;
  font-size: 1.5rem;
  color: #fff;
}

#colors ul {
  display: flex;
  gap: 5rem;
  padding: 0;
}

.color-item h3 {
  color: #cdcdcd;
  font-family: Ubuntu;
  font-size: 1rem;
}

.color-item-square {
  width: 147px;
  height: 147px;
  background-color: #010101;
  border: 1px solid #1c1c1c;
}

.color-item-description {
  font-family: Ubuntu;
  font-size: 0.9rem;
  color: #2b2b2b;
}
